<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!--<a href="index.html"><img src="images/logo.png" alt="Hair Salon Website Templates Free Download"></a>-->
                <a href="index.html"><img src="../../assets/img/logo.JPG" alt="Hair B2B"></a>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="index.html" title="Home">Home</a></li>
                            <li><a href="contact.html" title="Contact Us">Sign In</a> </li>
                            <li><a href="styleguide.html" title="Styleguide">Sign Up</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>