<div class="page-header">
    <div class="hero-section">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact">
                        <!-- widget search -->
                        <h3 class="widget-title" >Stylist Public Profile</h3>
                        <a href="index.html"><img src="assets/images/profileDefault.png" alt=""></a>
                    </div>
                    <!-- /.widget search -->
                    <div class="widget widget-social">
                        <div class="social-circle">
                            <h3 class="widget-title">Reviews</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="widget widget-contact">
                                <h1 id="name">{{stylistProfile.result.firstname +" "+ stylistProfile.result.lastname}}</h1>

                                <div class="col-md-12">
                                    <span ng-if="main._id == stylistProfile.result._id">
                                        <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
                                             ba-panel
                                             ba-panel-title="Calendar"
                                             ba-panel-class="xmedium-panel feed-comply-panel with-scroll calendar-panel">
                                            <dashboard-calendar></dashboard-calendar>
                                        </div>
                                    </span>
                                </div>

                                <form id="bootstrapTagsInputForm" method="post" class="form-horizontal">

                                    <div class="row">
                                        <!--job categories-->
                                        <div class="col-md-12">
                                            <label class="control-label" for="Subject">Job Categories</label>
                                        </div>


                                        <!--job types-->
                                        <div class="col-md-12">
                                            <span class="{{stylistProfile.educatorset}}">Educator
                                                <span class="meta-comment {{stylistProfile.educatorrate}}">Rate: ${{stylistProfile.result.profile.jobcategories.educator.rate}}</span><br>
                                            </span>
                                            <span class="{{stylistProfile.stylistset}}">Stylist
                                                <spn class="meta-comment {{stylistProfile.stylistrate}} meta-comment">Rate: ${{stylistProfile.result.profile.jobcategories.stylist.rate}}</spn><br>
                                            </span>
                                            <span class="{{stylistProfile.apperenticeset}}">Apprentice
                                                <span class="meta-comment {{stylistProfile.apperenticerate}}">Rate: ${{stylistProfile.result.profile.jobcategories.apperentice.rate}}</span><br>
                                            </span>
                                        </div>

                                        <!--description-->
                                        <div class="col-md-12">
                                            <!--<div class="form-group">-->
                                            <label class="control-label" for="textarea">Description</label>
                                            <p>{{stylistProfile.result.profile.description}}</p>
                                        </div>

                                        <!--address-->
                                        <div class="col-md-12">
                                            <label class="control-label" for="address">address</label>
                                            <p>{{stylistProfile.result.profile.address}}</p>
                                        </div>
                                        <!--city-->
                                        <div class="col-md-12">
                                            <label class="control-label" for="city">city</label>
                                            <p>{{stylistProfile.result.profile.city}}</p>
                                        </div>


                                        <div class="col-md-12">
                                            <label class="control-label" for="Subject">Skils</label>

                                        </div>

                                        <div class="col-md-12">
                                            <span class="{{stylistProfile.haircutting}}">Hair Cutting<br></span>
                                            <span class="{{stylistProfile.coloring}}">Coloring<br></span>
                                            <span class="{{stylistProfile.rebonding}}">Rebonding<br></span>
                                            <span class="{{stylistProfile.hairrelaxing}}">Hair relaxing<br></span>
                                            <span class="{{stylistProfile.straightening}}">Straightening<br></span>
                                            <span class="{{stylistProfile.hairstyling}}">Hair Styling<br></span>
                                            <span class="{{stylistProfile.cleansing}}">Cleansing<br></span>
                                            <span class="{{stylistProfile.scalpmassage}}">Scalp massage<br></span>
                                            <span class="{{stylistProfile.oiltreatments}}">Oil treatments<br></span>
                                            <span class="{{stylistProfile.haircareadvising}}">Haircare Advising<br></span>
                                            <span class="{{stylistProfile.haircurling}}">Hair Curling<br></span>
                                            <span class="{{stylistProfile.perming}}">Perming</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span ng-if="main._id != stylistProfile.result._id">
                                                <form>
                                                    <a href="/book-stylist/{{stylistProfile.result._id}}" class="btn btn-default">Book Now</a>
                                                </form>
                                            </span>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
