
<div class="page-header">
    <div class="hero-section" >

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact">
                        <h1 class="widget-title" >Search Stylist</h1>
                        <form id="bootstrapTagsInputForm" method="post" class="form-horizontal" ng-submit="search.searchStylist(searchData);">

                            <div class="row">
                                <!--categories-->
                                <div class="col-md-12">
                                    <label class="control-label" for="Subject">Category</label>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="col-md-4 checkbox">
                                            <input ng-model="search.searchData.educatorset" type="checkbox"  name="opt" id="opt1" value="Y" onclick="check()"> Educator
                                        </div><div class="col-md-8 checkbox">
                                    </div>

                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-4 checkbox">
                                            <input ng-model="search.searchData.stylistset" type="checkbox"  name="opt" id="opt2" value="Y" onclick="check()"> Stylist
                                        </div><div class="col-md-8 checkbox">
                                    </div>

                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-4 checkbox">
                                            <input ng-model="search.searchData.apprenticeset" type="checkbox"  name="opt" id="opt3" value="Y" onclick="check()"> Apprentice
                                        </div><div class="col-md-8 checkbox">
                                    </div>
                                    </div>
                                </div>
                                <!--daily rate-->
                                <div class="col-md-6">
                                    <label class="control-label" for="fname">Min Price</label>
                                    <input ng-model="search.searchData.minprice" type="number" name="name" id="minprice" placeholder="" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="fname">Max Price</label>
                                    <input ng-model="search.searchData.maxprice" type="number" name="name" id="maxprice" placeholder="" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="rating">Rating</label>
                                    <select class="form-control" ng-model="search.searchData.rating" id="rating">
                                        <option value="Any">Any</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <!--city-->
                                <div class="col-md-12">
                                    <label class="control-label"  for="city">city</label>
                                    <select ng-model="search.searchData.city" class="form-control" id="city">
                                        <option value="Any">Any</option>
                                        <option value="Sydney">Sydney</option>
                                        <option value="Melbourne">Melbourne</option>
                                        <option value="Perth">Perth</option>
                                        <option value="Brisbane">Brisbane</option>
                                    </select>
                                </div>
                                <!--availability-->


                                <div class="col-md-12">
                                    <label class="control-label" >Required Skils</label>

                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.haircutting" type="checkbox" value="">Hair Cutting</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.coloring" type="checkbox" value="">Coloring</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.rebonding" type="checkbox" value="">Rebonding</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.hairrelaxing" type="checkbox" value="">Hair relaxing</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.straightening" type="checkbox" value="">Straightening</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.hairstyling" type="checkbox" value="">Hair Styling</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.cleansing" type="checkbox" value="">Cleansing</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.scalpmassage" type="checkbox" value="">Scalp massage</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.oiltreatments" type="checkbox" value="">Oil treatments</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.haircareadvising" type="checkbox" value="">Haircare Advising</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.haircurling" type="checkbox" value="">Hair Curling</label>
                                    </div>
                                    <div class="col-md-8 checkbox">
                                        <label><input ng-model="search.searchData.perming" type="checkbox" value="">Perming</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Search</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="post-block">
                                        <div class="row ">
                                            <!-- post block -->
                                            <div class="col-md-4">
                                                <div class="post-img">
                                                    <a href="index.html"><img src="assets/images/profileDefault.png" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">

                                                    <div class="post-content">
                                                        <!--{{search.resultlength}}-->

                                                        <h2><a href="#" class="title" target="_blank">{{search.result[0].firstname}}</a></h2>
                                                        <p class="meta"> <span class=""></span> </p>
                                                        <p class="meta"> <span class="meta-comment">[Rating]</a></span></p>
                                                        <p class="meta"><span class="meta-author">id: {{search.result[0]._id}}</span></p>
                                                        <p>Description: {{search.result[0].profile.description}}</p>
                                                        <form>
                                                            <a href="/book-stylist" class="btn btn-default">Book Now</a>
                                                        </form>
                                                        <!--<form method="get" ng-submit="stylistProfile.getStylist(profileData);" >-->
                                                            <input type="text" ng-model="stylistProfile.profileData.id" value="59708C362F179F1558DBB208">
                                                            <a href="/stylist-public-profile/{{search.result[0]._id}}" class="btn btn-default">Profile</a>
                                                        <!--{{search.result[0]._id}}-->
                                                        <!--'597EDD861DED9A23B06014FD'    -->
                                                        <!--value="59708C362F179F1558DBB208"-->
                                                            <!--<button id="profilebutton" name="profilebutton" class="btn btn-default">Profile</button>-->
                                                        <!--</form>-->

                                                    </div>



                                            </div>
                                            </div>
                                        </div>
                                        <!-- /.post block -->
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>