<div class="page-header">
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="leave-comments">
                        <h2 class="reply-title">Book Stylist</h2>
                        <form class="reply-form">
                            <div class="row">
                                <!--job type-->
                                <div class="col-md-12">
                                    <label class="control-label" for="jobtype">Job type</label>
                                    <select class="form-control" id="jobtype">
                                        <option>Educator</option>
                                        <option>Stylist</option>
                                        <option>Apprentice</option>
                                    </select>
                                </div>
                                <!-- Work Description -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label" for="textarea">Work Description</label>
                                        <textarea class="form-control" id="textarea" name="textarea" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- Salon Address-->
                                    <div class="form-group">
                                        <label class="control-label" for="address">Salon Address</label>
                                        <span class="required">*</span>
                                        <input id="address" name="address" type="text" class="form-control" required="">
                                    </div>
                                </div>

                                <!--city-->
                                <div class="col-md-12">
                                    <label class="control-label" for="city">city</label>
                                    <select class="form-control" id="city">
                                        <option>Sydney</option>
                                        <option>Melbourne</option>
                                        <option>Perth</option>
                                        <option>Brisbane</option>
                                    </select>
                                </div>
                                <!-- Start Date-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="start">Start Date</label>
                                        <span class="required">*</span>
                                        <input id="start" name="start" type="text" class="form-control" required="">
                                    </div>
                                </div>
                                <!-- End Date-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="end">End Date</label>
                                        <span class="required">*</span>
                                        <input id="end" name="end" type="text" class="form-control" required="">
                                    </div>
                                </div>



                                <div class="container">
                                    <div class='col-md-5'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker6'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-md-5'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker7'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-md-12">
                                    <!-- Button -->
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Leave A Comment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


